/* General css */

* {
    list-style: none;
    font-family: 'Source Sans Pro', sans-serif;
 } 

section{
    width: 100%;
    text-align: center;
    padding-top: 6em;

}
h1 {

}

/* Cards */
/* .cards {
padding: 10%;
} */

ul {
    display: flex;
    flex-wrap: wrap;
    margin: 5px;
    justify-content: center;
    
}

ul li {
    width:20%;
    padding: 20px;
    border: 1px rgba(139, 134, 134, 0.26) solid;
    margin: 5px;
    border-radius: 10px;

    
}

#recipeCards img {
    width:100%;
    border-radius: 10px;
}